/* test */

div {
  border: 1px solid red
}

/* main */

html, body {
	height: 99%;
}

h3 {
	text-align: center;
}

.main-div {
	height: 100%;
	width: 100%;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.row-basic {
	display: flex;
	flex: 1
}

.row-basic > div {
	display: flex;
	flex: 1;
}

.col-basic {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.col-basic > div{
	display: flex;
	flex: 1;

}

.maxHeight {
	height: 50;
	max-height: 50px;
}

/* horizontal sections */

.top-row {
	display: flex;
	flex: 1;
}
.bottom-row {
	display: flex;
	flex: 1;
}


/* top section */

.top-left {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.top-right {
	display: flex;
	flex: 1;
	flex-direction: column
}


/* bottom section */
.bottom-right {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.bottom-left {
	display: flex;
	flex: 1;
}

/* commands section */
.special-actions {
	display: flex;
}

.panel-control {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* stats settings */

.battery-container {
	flex-direction: column;
	/* align-items: center; */
	padding: 20px;
	max-width: 240px;
}

.battery-top {
	height: 24px;
	width: 72px;
	align-self: center
}

.battery-content {
	display: flex;
	align-items: flex-end;
	flex: 1;
	position: relative;
}

.battery-stat {
	position: absolute;
	top: 45%;
	left: 45%;
}

.battery-level {
	height: 45%;
	width: 100%;
	background-color: orange
}

/* components */
img {
	max-width: 100%;
	max-height: 100%
}

.small-image {
}

.large-image {
	height: 100%
}

.drone-axys {
	position: relative;
	height: 200px;
	width: 300px;
  color: white;
	background-color: black;
}

.perspective {
	perspective: 500px;
	transform-style: preserve-3d;
	display: grid;
	text-align: center;
	justify-content: center
}

.fill {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}